.formGroup {
    margin-top: 10px;    
}

.input {
    padding: 16px 16px 16px 60px;
    border: none;
    outline: none;
    background: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.08);
    font-size: 24px;
}

.formGroup, .input {
    width: 100%;
}

/* .btn {
    outline: none;
    border: none;
    cursor: pointer;
}

.btnPrimary {
    background-color: rgb(45, 61, 234);
    color: white;
    width: 70px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.25s;
}

.btnPrimary:hover {
    background-color: blue;
} */