.container {
    background: white;
    word-break: break-all;
    font-size: 24px;
    width: 100%;
    padding: 15px 15px 15px 60px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.container p {
    margin-left: 5px;
    font-weight: 600;
}

.container > * {
    background: inherit;
}

.btnContainer {
    display: flex;
}

.btn {
    cursor: pointer;
    margin: 0 3px;
}
.btnCheck {
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 0;
    margin-left: 10px;
}

.btnClear:hover {
    color: red;
}

.done {
    text-decoration: line-through;
    color: #ddd;
}